<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

</head>
<body>
    <style>
        #btnAddSchedule {
            margin-top: 20px;
        }
    </style>


    <div class="row" >
        <div class="alert alert-primary">
            {{meesage}}
            {{statusval}}
            {{statustext}}
        </div>
    </div>

  
    <div ng-controller="addScheduleCtrl" class="container">


        <div class="text-center border border-light p-5">

            <p class="h4 p-4">Add schedule</p>

            <select class="form-control" ng-model="room">
                <option ng-selected="room.id == item.id" ng-repeat="item in roomList" ng-value="item.id">{{item.name}}</option>
            </select>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- Last name -->
                    <label>from :</label> <input ng-model="from" class="form-control" type="datetime-local" id="datepickerFrom"
                                  name="meeting-time">
                </div>

                <div class="col">
                    <!-- Last name -->
                    <label>To:</label> <input ng-model="to" class="form-control" type="datetime-local" id="datepickerTo"
                               name="meeting-time">
                </div>

            </div>

            <!-- Sign up button -->
            <button id="btnAddSchedule" class="btn btn-primary" ng-click="addSchedule( room, from , to)">Add schedule</button>           

        </div>

    </div>
</body>
</html>