<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>

</head>
<body>

    <!-- <div col-12>Output Message : {{msg}}</div>
     <div col-12>StatusCode: {{statusval}}</div>
     <div col-12>Status: {{statustext}}</div>
     <div col-12>Response Headers: {{headers}}</div> -->
    {{msg}}
    <div class="row" ng-controller="schedulingCtrl">

        <div>Your Scehdulings:</div>
        <div ng-repeat="aula in Scheduling">
            <div class="col-sm-12 col-lg-12 col-xs-12">
                <div class="col-sm-2 col-lg-2 col-xs-2">
                    <button class="btn btn-danger" ng-click="deleteScheduling(aula)">delete</button>
                </div>
                <div class="col-sm-10 col-lg-10 col-xs-10">
                    <input type="hidden" value="{{aula.id}}" />
                    <p>Aula : {{aula.room.name}} Da : {{aula.dateFrom | date:'yyyy-MM-dd HH:mm:ss'}} A: {{aula.dateTo | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#addSchedule" class="btn btn-primary" style="width:100%; margin-top:10px"><i class="fa fa-home"></i> Add schedule</a>
        </div>
    </div>

</body>
</html>